<!DOCTYPE html>
<html>
<head>
	<title>Case No. 5 - REST API GUI</title>
</head>

<body>
	<table>
		<tr>
			<td>URL Base : </td><td><span th:text="http://localhost:8080"></span></td>
			<td>URL Path : </td><td><span th:text="${url_path}"></span></td>
		</tr>
		<tr>
			<td>
				<input type="text" id="requestInput" name="requestInput">
			</td>
			<td>
				<table>
					<tr>
						
					</tr>
					<tr>
						<td><button type="submit">Submit</button></td>
						<td><button type="submit">Submit</button></td>
						<td><button type="submit">Submit</button></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>