<!DOCTYPE html>
<html>
<head>
    <title>Case No. 5 - REST API GUI</title>
    
	<script th:inline="javascript">
	    function handleChange(){
	        var selectedValue = document.getElementById ("selectedAction").value;
	        var form = document.getElementById ("trxForm");
	
	        if (selectedValue === "default"){
	            form.action = "/";
	        } else if (selectedValue === "payment"){
	            form.action = "/payment";
	        } else if (selectedValue === "check"){
	            form.action = "/check";
	        } else if (selectedValue === "refund"){
	            form.action = "/refund";
	        }
	    }
	</script>
</head>

<style>
    .text-box {
        border: 2px solid #ccc;
        padding: 10px;
        background-color: #f7f7f7;
        height: 100px;
        width: 200px;
    }
    
    .input-box {
    	border: 2px solid #ccc;
        padding: 10px;
        background-color: white;
        height: 100px;
        width: 200px;
    }
</style>

<body>
	<p>
		<b>URL Base :&nbsp;</b><span th:text="${url_base}"></span> &nbsp;<b> | </b>&nbsp; <b>URL Path :&nbsp;</b><span th:text="${url_path}"></span>
	</p>
    <form id="trxForm" method="post">
    	<table>
    		<div>
    			<tr>
    				<td>
    					<label for="requestInput">Request :</label>
    					<br><br>
    					<input class="input-box" type="text" id="requestInput" name="requestInput">
    				</td>
    				<td>&nbsp;</td>
    				<td>
    					<label for="responseInput">Response :</label>
    					<br><br>
    					<div class="text-box">
    						<span th:text="${requestInput}"></span>
    					</div>    					
    				</td>
    			</tr>
    			<tr>
    				<td>
    					<label for="selectedAction">Select Trx-Type :&nbsp;</label>
    					<select id="selectedAction" th:onchange="handleChange()">
					        <option value="default">Default</option>
					        <option value="payment">Payment</option>
					        <option value="check">Check</option>
					        <option value="refund">Refund</option>
					    </select>
    				</td>
    				<td>&nbsp;</td>
    				<td>
    					<button type="submit">Kirim</button>
    				</td>
    			</tr>
    		</div>
    	</table>
		<br>       
    </form>
    
    <br>
    <hr>
</html>